.number-picker-modal {
  .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: 3px solid black;
    background-color: $gallery;

    .cell {
      color: $ebony-clay;
      border: 1px solid gray;
      display: flex;
      width: (15vh / 3);
      height: (15vh / 3);
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @include respond-to('medium') {
        width: (20vh / 3);
        height: (20vh / 3);
      }

      @include respond-to('large') {
        width: (20vh / 3);
        height: (20vh / 3);
      }
    }

    .cell-disabled {
      color: red;
      pointer-events: none;
      width: (15vh / 3);
      height: (15vh / 3);
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;

      @include respond-to('medium') {
        width: (20vh / 3);
        height: (20vh / 3);
      }

      @include respond-to('large') {
        width: (20vh / 3);
        height: (20vh / 3);
      }
    }
  }
}

.board-container {
  .popup-content {
    width: unset !important;
  }
}
