/* SCSS HEX */
$color-1: #679436;
$color-2: #A5BE00;
$color-3: #05668D;
$color-4: #427AA1;
$color-5: #EBF2FA;
$color-6: #3498db;
$color-7: #2ecc71;
$color-8: #f1c40f;
$color-9: #e74c3c;

$white: #ffffff;
$gallery: #eeeeee;
$turquoise: #32e0c4;
$bright-gray: #393e46;
$ebony-clay: #222831;
