.number-picker-modal {
  & > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
    color: black;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 20vh;
    height: 20vh;
    border: 3px solid black;

    .cell {
      color: blue;
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .cell-disabled {
      color: red;
      pointer-events: none;
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.board-container {
  .popup-content {
    width: unset !important;
  }
}
